header{
    width: 100%;
    padding: 10px;
    background-color: #9457eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .menu{
    width: 50px;
    height: 50px;
    background-image: url(../../../public/img/menu.png);
    background-size: cover;
}

header .logo{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background-image: url(../../../public/img/logo.png);
    background-size: cover;
}

header .help{
    width: 45px;
    height: 45px;
    background-image: url(../../../public/img/help.png);
    background-size: cover;
}