<app-header></app-header>

<div class="info-cliente">
    <div class="cont-esquerda">
        <h2>Olá, GUSTAVO</h2>
        <p>Bem-vindo ao CyberBank</p>
    </div><!--cont-esquerda-->
    <div class="cont-direita">
        <p>Agência / Conta</p>
        <h2>0001 / 12345-6</h2>
        <p>Último acesso em: 04/09/2024</p>
    </div><!--cont-direita-->
</div><!--info-cliente-->

<div class="servicos">
    <div class="box-container" id="exibir_saldo">
        <div id="curtain" class="curtain" (click)="exibir_saldo()"></div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Conta corrente</h2>
                <p class="superior-text">Saldo atual</p>
                <h1 class="main-info">R$ 190,12</h1>
                <p class="inferior-text">(Disponível em conta)</p>
            </div>
            <div class="right-content">
                <a class="logo-servico"></a>
                <p class="desc-servco">Extrato</p>
            </div>
        </div>
    </div>
    <div class="box-container" id="exibir_cartao">
        <div id="curtain" class="curtain" (click)="exibir_cartao()"></div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Cartão de crédito</h2>
                <p class="superior-text">Saldo atual</p>
                <h1 class="main-info">R$ 190,12</h1>
                <p class="inferior-text">(Disponível em conta)</p>
            </div>
            <div class="right-content">
                <a class="logo-servico"></a>
                <p class="desc-servco">Extrato</p>
            </div>
        </div>
    </div>
    <div class="box-container">
        <div id="curtain" class="curtain" (click)="exibir()"></div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Conta corrente</h2>
                <p class="superior-text">Saldo atual</p>
                <h1 class="main-info">R$ 190,12</h1>
                <p class="inferior-text">(Disponível em conta)</p>
            </div>
            <div class="right-content">
                <a class="logo-servico"></a>
                <p class="desc-servco">Extrato</p>
            </div>
        </div>
    </div>
    <div class="box-container">
        <div id="curtain" class="curtain" (click)="exibir()"></div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Conta corrente</h2>
                <p class="superior-text">Saldo atual</p>
                <h1 class="main-info">R$ 190,12</h1>
                <p class="inferior-text">(Disponível em conta)</p>
            </div>
            <div class="right-content">
                <a class="logo-servico"></a>
                <p class="desc-servco">Extrato</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>