<app-header></app-header>

<div class="info-cliente">
    <div class="cont-esquerda">
        <h2>Olá, gustavo machado</h2>
        <p>Bem-vindo ao CyberBank</p>
    </div><!--cont-esquerda-->
    <div class="cont-direita">
        <p>Agência / Conta</p>
        <h2>0001 / 12345-6</h2>
        <p>Último acesso em: 04/09/2024</p>
    </div><!--cont-direita-->
</div><!--info-cliente-->

<div class="servicos">
    <div class="box-container" id="exibir_saldo">
        
        <div id="curtain" class="curtain" (click)="exibir_saldo()">
            <p *ngIf="showText" class="text-curtain">Saldo da conta</p>
        </div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Conta corrente</h2>
                <p class="superior-text">Saldo atual</p>
                <h1 class="main-info">R$ 190,12</h1>
                <p class="inferior-text">(Disponível em conta)</p>
            </div>
            <div (click)="abrirExtrato()" class="right-content">
                <p class="desc-servico">Extrato</p>
                <div class="logo-servico"></div>
            </div>
        </div>
    </div>
    
    <div class="box-container" id="exibir_cartao">
        <div id="curtain" class="curtain" (click)="exibir_cartao()">
            <p *ngIf="showTextCartao" class="text-curtain">Cartão de crédito</p>
        </div>
        <div class="content">
            <div class="left-content">
                <h2 class="superior-title">Cartão de crédito</h2>
                <p class="superior-text">Limite disponível</p>
                <h1 class="main-info">R$ 5853,22</h1>
                <p class="inferior-text">(Disponível para uso)</p>
            </div>
            <div class="right-content">
                <p class="desc-servico">Cartões</p>
                <div class="logo-servico-cartao"></div>
            </div>
        </div>
    </div>
    
    

    <!--seção de ações-->
    <section class="actions">
        <div class="default-action pix-action">
            <p>Fazer um pix</p>
            <div class="pix-image" (click)="fazer_pix()"></div>
        </div>
    </section>
</div>

<app-footer></app-footer>