.info-cliente{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.info-cliente .cont-esquerda, .info-cliente .cont-direita{
    padding: 15px;
}

.info-cliente .cont-esquerda h2, .info-cliente .cont-direita h2{
    color: #00b0fc;
    font-size: 17px;
}

.info-cliente .cont-esquerda p, .info-cliente .cont-direita p{
    color: #aaa;
    font-size: 13px;
}

.info-cliente .cont-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-cliente .cont-direita{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.box-container {
    position: relative;
    width: 90%;
    padding: 10px;
    border: 2px solid #9457eb;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
    overflow: hidden;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: width 0.5s ease;
    border-right: 15px solid #9457eb;
}

.curtain p{
    margin: 0;
    padding: 0;
    color: black;
    z-index: 3;
}

.reveal .curtain {
    width: 10px;
}

.reveal .content {
    opacity: 1;
}

.content {
    padding: 5px;
    padding-left: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content .left-content h2{
    font-size: 12px;
}

.content .right-content .logo-servico{  
    background-image: url(../../../public/img/bank-statement.png);
    background-size: contain;
    width: 32px;
    height: 32px;
}

.content .right-content .logo-servico-cartao{  
    background-image: url(../../../public/img/credit-card.png);
    background-size: contain;
    width: 32px;
    height: 32px;
}

section.actions{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.actions .default-action{
    width: inherit;
    padding: 10px;
    border: 1px solid #9457eb;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section.actions .pix-action p{
    color: black;
    font-size: 17px;
}

section.actions .pix-action div.pix-image{
    background-image: url('../../../public/img/money.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}