<div class="login-screen">
    <form>
      <div class="logo"></div>
      <h2>Informe suas <span>credenciais</span> de acesso</h2>
  
      <!-- Campo de Login -->
      <input 
        pInputText 
        type="text" 
        name="login"
        placeholder="Login" 
        [(ngModel)]="usuario.login" 
      />
  
      <!-- Campo de Senha -->
      <input 
        pInputText 
        type="password" 
        name="senha"
        placeholder="Senha" 
        [(ngModel)]="usuario.senha" 
      />
  
      <!-- Botão de Login -->
      <button 
        pButton 
        type="button" 
        (click)="fazerLogin()"
      >
        Entrar
      </button>

      <button 
        pButton 
        type="button" 
        (click)="irParaCadastro()"
        >
        Cadastre-se
        </button>
    </form>
  </div>
  