<form (ngSubmit)="onSubmit()" #form="ngForm">
    <h2>Formulário de Cadastro</h2>
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" [(ngModel)]="dadosCadastrais.nome" (ngModelChange)="atualizarNomeConta($event)" name="nome" required>

    <label for="data_nascimento">Data de Nascimento:</label>
    <input type="date" id="data_nascimento" [(ngModel)]="dadosCadastrais.dataNascimento" name="dataNascimento" required>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" [(ngModel)]="dadosCadastrais.cpf" (ngModelChange)="atualizarCpfConta($event)" name="cpf" required>

    <label for="endereco">Endereço:</label>
    <input type="text" id="endereco" [(ngModel)]="dadosCadastrais.endereco" name="endereco" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" [(ngModel)]="dadosConta.senha" name="senha" required>

    <input type="submit" value="Cadastrar">
</form>
