<div class="cadastro-screen">
    <form>
      <h2>Cadastro de <span>Usuário</span></h2>
  
      <!-- Campo Nome -->
      <input 
        pInputText 
        type="text" 
        name="nome"
        placeholder="Nome" 
        [(ngModel)]="usuario.nome" 
      />
  
      <!-- Campo CPF -->
      <input 
        pInputText 
        type="text" 
        name="cpf"
        placeholder="Login"
        [(ngModel)]="usuario.login" 
      />

      <!-- Campo CPF -->
      <input 
        pInputText 
        type="password" 
        name="senha"
        placeholder="Senha" 
        [(ngModel)]="usuario.senha" 
      />
  
      <!-- Botão de Cadastrar -->
      <button 
        pButton 
        type="button" 
        (click)="clickSalvar()"
      >
        Cadastrar
      </button>

      <button 
        pButton 
        type="button" 
        (click)="voltar()"
        >
        Voltar
    </button>
    </form>
  </div>
  